API_KEY="some_secret"
OPENAI_API_KEY="openai-api-key"
OPENAI_BASE_URL=None
MODEL_PATH="models_store/autorest_model.pkl"
PROJECT_NAME="AutoRestTest Model Service"

UPSTASH_REDIS_REST_URL="some_url"
UPSTASH_REDIS_REST_TOKEN="some_token"

MINIO_ACCESS_KEY="some_access_key"
MINIO_SECRET_KEY="some_secret_key"
MINIO_ENDPOINT="minio_endpoint"
MINIO_BUCKET="minio_bucket"

NEXTJS_BACKEND_URL="some_url"
INTERNAL_API_SECRET="some_secret"

# Docker envs
DB_PASSWORD=""
